doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		title Diag example
		//bower:css
		//endbower
		link(rel="stylesheet", href="css/style.css")
	body
		canvas#diagram
		//bower:js
		//endbower
		script(src='js/lib.js')
		script(src='js/app.js')

